/* ====================== Media Query Min Width 450px====================== */

@media screen and (max-width: 800px) {
  /* CSS Document */
  /* ====================== Navigation ===================================== */

  /* #breadcrumb {
    padding-left: 1rem;
    width: 100%;
  }
  #breadcrumb li {
    font-size: 1.2rem;
  } */
  /* ====================== Restaurant Details ====================== */
  .inside #map-container {
    /*width: 100%;*/
    /*height: 50vh;*/
    /*display: block;*/
    /*position: relative;*/
  }
}